html,body{
    margin: 0%;
    padding: 0%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:after{
    content: " ";
    animation: 7s swap infinite;
    background: hsl(184, 67%, 53%);
    padding: 10px;
    color: azure;
    border-radius: 6px;
    margin-left: 6px;
}

@keyframes swap {
    0% {
        content: " JAVASCRIPT";
    }

    25%{
        content: " TYPESCRIPT";
    }
    50%{
        content: " REACT";
    }
    75%{
        content: " VITE ";
    }

    100%{
        content: " JAVASCRIPT";
    }
}